# /etc/systemd/system/your-service-name.service

[Unit]
Description=Your Spring Boot Service
After=syslog.target

[Service]
Environment="SPRING_PROFILES_ACTIVE=deploy"
ExecStart=/usr/bin/java -jar /home/ubuntu/hh/backend/hanghaero-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
