<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HTML Document</title>
    <!-- 외부 스타일 시트를 링크합니다. -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<div id="p1" class="mdl-progress mdl-js-progress"></div>
<script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
        this.MaterialProgress.setProgress(44);
    });

    $(document).ready(showColumn())

    var colresponsedto = {}

    function showColumn(){
        var pathname = window.location.pathname;
        console.log(pathname);
        const authToken = getAuthorizationToken();
        $.ajax({
            type: 'GET',
            url: `/columns/`+window.location.pathname.split('/')[2],
            headers: {
                'Authorization': authToken
            },
            data: colresponsedto,
            success: function (data) {
                const dd = $(".dd");
                dd.empty();
                for (const column of data){
                    let tempHtml = addHTML(column)
                    dd.append(tempHtml);
                }
            },
            error(error, status, request) {
            }
        })
    }
    function addHTML(column){
        console.log("column id = ", column)
        return `<ol class = "kanban columnId ${column.columnId}">
                   <div class="kanban__title" id="todo-list-${column.columnId}">
                    <h2 id="${column.columnId}"><i class="material-icons">${column.title}</i></h2>
                    <button id="test-button" className="addbutt"><span class="material-symbols-outlined">add</span> Add new </button>
                    </div>
                </ol>`
    }

    function addItem(elem) {
        console.log(elem)
        let itemCount = $('li.dd-item').length+1
        console.log("itemCount = " ,itemCount);
        console.log(elem[0].querySelectorAll('li')[itemCount-2])
        last_elem = elem[0].querySelectorAll('li')[itemCount-2]
        elem.append(
            `<li class="dd-item" id="todo-${itemCount}">
                <h3 class="title dd-handle">Title<i class="material-icons">filter_none</i></h3>
                <div class="text" contenteditable="true">
                    wwPaul Rand once said, “The public is more familiar with bad fucking design than good design. It is, in effect, conditioned to prefer
                </div>
                <i class="material-icons" id="label blue">label</i>
                <div class="actions">
                    <i class="material-icons" id="color">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i class="material-icons">attach_file</i>
                </div>
            </li>`
        );
    }

    $(document).ready(function(){
        // 부모 요소에 이벤트 핸들러 등록
        $("body").on("click", "button#test-button", function(){
            console.log("add button 동작");
            var buttonId = $(this).attr("id");
            addItem($(this).closest('ol'));
        });
    });

    $(document).ready(function () {
        const authToken = getAuthorizationToken();
        $.ajax({
            url: '/cards/boards/'+window.location.pathname.split('/')[2],
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success: function (data) {
                lst = $('.kanban.columnId h2')
                console.log("list = ", lst)
                idx_set = new Set();
                for (const val of lst){
                    idx_set.add(Number(val.id))
                }
                console.log("idx_set = ", idx_set)
                for ( let i of idx_set ) {
                    const todoList = $('#todo-list-' + i);
                    for (const card of data) {
                        console.log("card Object", card)
                        if(i == card.columnId){
                            todoList.append(
                                `<li class="dd-item" id="todo-${card.id}">
                            <h3 class="title dd-handle">${card.name}<i class="material-icons">filter_none</i></h3>
                            <div class="text" contenteditable="true">
                                ${card.description}
                            </div>
                            <i class="material-icons" id="label blue">label</i>
                            <div class="actions">
                                <i class="material-icons" id="color">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i class="material-icons">attach_file</i>
                            </div>
                        </li>`
                            );
                        }
                    }
                }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    });

    function getAuthorizationToken() {
        const cookies = document.cookie.split('; ');

        for (const cookie of cookies) {
            const [name, value] = cookie.split('=');

            // 쿠키 이름 앞뒤의 공백 제거
            const cookieName = name.trim();

            if (cookieName === 'Authorization') {
                // 쿠키 값 앞뒤의 공백 제거 후 반환
                return value.trim();
            }
        }

        // 찾지 못한 경우
        return null;
    }
</script>
<div class="kanban__title">
    <h1><span class="material-symbols-outlined">done</span> To do list</h1>
</div>
<div class="dd">
    <ol class="kanban progress">
        <h2><i class="material-icons">build</i> In progress</h2>
        <li class="dd-item" data-id="5">
            <h3 class="title dd-handle"><i class=" material-icons ">filter_none</i> title of job</h3>
            <div class="text" contenteditable="true">Paul Rand once said, “The public is more familiar with bad fucking
                design than good design. It is, in effect, conditioned to prefer bad design,
            </div>
            <div class="actions">
                <i class="material-icons">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i
                    class="material-icons">attach_file</i></div>

        </li>
    </ol>
    <ol class="kanban  Done">
        <h2><i class="material-icons">check_circle</i> Done</h2>
        <li class="dd-item" data-id="5">
            <h3 class="title dd-handle"><i class=" material-icons ">filter_none</i> title of job</h3>
            <div class="text" contenteditable="true">Paul Rand once said, “The public is more familiar with bad fucking
                design than good design. It is, in effect, conditioned to prefer bad design,
            </div>
            <div class="actions">
                <i class="material-icons">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i
                    class="material-icons">attach_file</i></div>

        </li>
        </li>
        <li class="dd-item" data-id="2">
            <h3 class="title dd-handle"><i class=" material-icons ">filter_none</i> title of job</h3>
            <div class="text" contenteditable="true">Paul Rand once said, “The public is more familiar with bad fucking
                design than good design. It is, in effect, conditioned to prefer bad design,
            </div>
            <div class="actions">
                <i class="material-icons">palette</i><i class="material-icons">edit</i><i class="material-icons">insert_link</i><i
                    class="material-icons">attach_file</i></div>

        </li>
        <div class="actions">
            <button class="addbutt"><i class="material-icons">control_point</i> Add new</button>
        </div>
    </ol>
</div>
<menu class="kanban">
    <button><i class="material-icons">settings</i></button>
    <button><i class="material-icons">chevron_left</i></button>
    <button class="viewkanban"><i class="material-icons ">view_column</i></button>
    <button class="viewlist"><i class="material-icons">view_list</i></button>
    <button><i class="material-icons">playlist_add</i> Add new Column</button>
</menu>
<script src="/js/basic.js"></script>
</body>
</html>
