<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title> 항해로 </title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <!-- 외부 스타일 시트를 링크합니다. -->

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/styles2.css" rel="stylesheet">

    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
    <!-- Favicon-->
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>


    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <!-- jQuery UI CSS -->
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <!-- Spectrum Colorpicker -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.css" rel="stylesheet"
          type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.1/spectrum.min.js"></script>
</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#" onclick="goToHome()">Hanghaero</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a aria-current="page" class="nav-link active" href="#"
                                        onclick="goToHome()">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link" id="openInviteBtn" href="#">Invite</a></li>
                <li class="nav-item"><a class="nav-link" href="#" onclick="Logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Card의 댓글을 작성하고 불러오는 오프캔버스 -->
<!--<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">-->
<!--    <div class="offcanvas-header">-->
<!--        <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--    </div>-->
<!--    <div class="offcanvas-body">-->
<!--        &lt;!&ndash; 댓글 작성 폼 &ndash;&gt;-->
<!--        <form>-->
<!--            <input id="formCardId" type="hidden" />-->
<!--            <div class="mb-3">-->
<!--                <label for="commentContent" class="form-label">댓글</label>-->
<!--                <textarea class="form-control" id="commentContent" rows="3" placeholder="댓글을 입력하세요"></textarea>-->
<!--            </div>-->
<!--            <button type="button" class="btn btn-primary" onclick="createCommentForm()">댓글 작성</button>-->
<!--        </form>-->

<!--        &lt;!&ndash; 댓글 리스트 &ndash;&gt;-->
<!--        <div class="mt-3">-->
<!--            <h6 class="small">댓글 목록</h6>-->
<!--            <ul class="list-group" id="comment-list">-->
<!--                &lt;!&ndash; 댓글 추가되는 곳 &ndash;&gt;-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="commentModalLabel"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label id="modalDescriptLabel">Card Description</label>
                    <p id="modalCardDescript"></p>
                </div>
                <!-- 댓글 작성 폼 -->
                <form>
                    <input id="formCardId" type="hidden" />
                    <div class="mb-3">
                        <label for="commentContent" class="form-label">Comment</label>
                        <textarea class="form-control" id="commentContent" rows="3" placeholder="댓글을 입력하세요"></textarea>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button type="button" class="btn btn-primary" onclick="createCommentForm()">submit</button>
                    </div>
                </form>

                <!-- 댓글 리스트 -->
                <div class="mt-3">
                    <ul class="list-group" id="comment-list">
                        <!-- 댓글 추가되는 부분 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mdl-progress mdl-js-progress" id="p1"></div>

<script>
    function calculateDDay(card) {
        const id = card.id;
        var today = new Date();

        // 문자열을 "-"로 분리하여 배열로 만듭니다.
        var dateArray = card.dueDate.split("-");
        // 배열에서 연, 월, 일 값을 추출합니다.
        var year = parseInt(dateArray[0], 10);
        var month = parseInt(dateArray[1], 10) - 1; // JavaScript의 월은 0부터 시작하므로 1을 빼줍니다.
        var day = parseInt(dateArray[2], 10);

        var dueDate = new Date(year, month, day);

        console.log("dueDate : " + dueDate);
        var timeDiff = dueDate.getTime() - today.getTime();
        var dayDiff = Math.ceil(timeDiff / (1000 * 3600 * 24));

        var dDayDisplaySelector = "#card-" + id + " #dDayDisplay";

        console.log(dDayDisplaySelector);
        var d_day = $(dDayDisplaySelector);
        if (dayDiff === 0) {
            d_day.text("D-Day");
        } else if (dayDiff > 0) {
            d_day.text("D-" + dayDiff);
        } else {
            dayDiff *= -1;
            d_day.text("D+" + dayDiff);
        }


    }

    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
        this.MaterialProgress.setProgress(44);
    });


    let lastColumnPosition = 0;
    var colresponsedto = {}

    let boardId = 0;
    $(document).ready(function () {
        const authToken = getAuthorizationToken();
        const urls = window.location.href.split("/");
        boardId = urls.at(urls.length - 1);
        loadColumns(boardId, authToken);
        $("#delete-button").click(function () {
            addItem();
        });
        $("#add-column").click(function () {
            addColumn(authToken);
        });

        $(document).ready(function () {
            $("#card-modify-popup").load("/cardPopup.html");
        })

        $("#colorpicker").spectrum({
            showPaletteOnly: true,
            showPalette: true,
            color: 'blanchedalmond',
            palette: [
                ['black', 'white', 'blanchedalmond',
                    'rgb(255, 128, 0);', 'hsv 100 70 50'],
                ['red', 'yellow', 'green', 'blue', 'violet']
            ],
            change: function (color) {
                $('#colorHex').val(color.toHexString());
            }
        });

        $("#modify-colorpicker").spectrum({
            showPaletteOnly: true,
            showPalette: true,
            color: 'blanchedalmond',
            palette: [
                ['black', 'white', 'blanchedalmond',
                    'rgb(255, 128, 0);', 'hsv 100 70 50'],
                ['red', 'yellow', 'green', 'blue', 'violet']
            ],
            change: function (color) {
                $('#colorHex').val(color.toHexString());
            }
        });
    });

    function addModifyEventListenerToCard(element) {
        console.log("카드 수정 감지 리스너 추가");
        $(element).on('keydown', function (event) {
            // Enter 키가 눌렸을 때
            if (event.ctrlKey && event.key === 'Enter') {
                console.log("카드 수정 감지");
                event.preventDefault(); // 기본 동작 방지 (새 줄 입력 방지)
                const card = element.closest('.dd-item');
                updateCard(card);
            }
        });
    }

    function updateCard(card) {
        const authToken = getAuthorizationToken();
        // title dd-handle, card-description, card-duedate
        const cardModifyRequestMap = {};
        card.querySelectorAll('.card-content').forEach(function (contentElement) {
            const key = contentElement.classList.contains('title') ? 'name' :
                contentElement.classList.contains('card-description') ? 'description' :
                    contentElement.classList.contains('card-duedate') ? 'dueDate' :
                        '';
            const value = contentElement.innerHTML.trim();
            cardModifyRequestMap[key] = value;
        });


        const cardId = card.id.split('-')[1];
        //cardModifyRequestMap
        // AJAX 요청을 보냄
        $.ajax({
            url: '/cards/' + cardId, // 데이터를 보낼 서버의 엔드포인트 URL
            method: 'PUT',
            headers: {
                'Authorization': authToken
            },
            contentType: 'application/json',
            // POST 요청
            data: JSON.stringify(cardModifyRequestMap),
            success: function (card) {
            },
            error: function (error) {
                console.error('카드 생성 중 오류가 발생했습니다:', error);
            }
        });
    }


    const columnTemplate =
        `
        <ol class="column" id="column-{columnId}">
            <span class="close" onclick="deleteColumn(this.closest('.column'))">&times;</span>
            <div class="kanban__title">
                <h2 style="font-family: 'Poppins', sans-serif; font-size: 25px" onclick="enableEditTitle(this.closest('.column'))">{name}</h2>
            </div>

            <div class="todo-list" id="todo-list">
<!--                카드들이 들어갈곳-->
            </div>

            <div class="actions">
                <button id="create-card" class="addbutt" onclick="openModal(this)">ADD NEW</button>
            </div>
        </ol>
        `


    const cardTemplate =
        `
        <li class="dd-item" id="card-{card_id}" >
            <div class="card-color-bar"></div>
            <input type="hidden" id="cardIdValue" name="cardIdValue">
            <img alt= ":" src="/images/icon_detail.png" width="20" height="20"  style="position: absolute; top: 40px; right: 2px;" onclick="openCardModifyModal(this)"></img>
            <span class="close" style="position: absolute; top: 10px; right: 2px;" onclick="deleteCardForm(this)">&times;</span>
            <img alt= "comment" src="/images/icon_comment.png" width="30" height="30"
            style="position: absolute; bottom: 5px; right: 5px; cursor: pointer"
            data-bs-toggle="modal" data-bs-target="#commentModal"
            onclick="loadComments($(this).closest('.dd-item'))">
            <h3 class="title dd-handle card-content" style="text-align:center;">
                {card_name}
            </h3>
            <div style="font-family: 'Poppins', sans-serif;">
                <div class="card-description card-content" style="font-family: 'Poppins', sans-serif;" contenteditable="true">
                    {card_description}
                </div>
            </div>
            <p id="dDayDisplay"></p>
            <div style="font-family: 'Poppins', sans-serif;" class="card-duedate card-content" contenteditable="true">
                {card_duedate}
            </div>
        </li>
        `

    // 모달 열기
    function openModal(columnId) {
        var modal = document.getElementById("myModal");
        document.getElementById("modalColumnId").value = columnId;
        console.log(columnId + " id의 컬럼에 카드를 추가하는 modal창 띄움");
        modal.style.display = "block";
        modal.style.zIndex = 9999;

        $("#datepicker-container").datepicker(); // Datepicker 초기화

        $("#datepicker").datepicker({
            // Datepicker를 모달 창 안에 추가하기 위해 appendTo 사용
            appendTo: modal
        });
    }

    // 모달 닫기
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    function createCardForm() {
        const authToken = getAuthorizationToken();

        // modal창에 숨어있는 columnId값을 가져옴
        const columnId = document.getElementById("modalColumnId").value;

        var name = $("#name").val(); // 이름 입력란의 값을 가져옴
        var description = $("#description").val(); // 설명 입력란의 값을 가져옴
        var selectedDate = $("#datepicker").datepicker("getDate");
        var color = $("#colorpicker").spectrum("get").toHexString();

        // AJAX 요청을 보냄
        $.ajax({
            url: '/cards', // 데이터를 보낼 서버의 엔드포인트 URL
            method: 'POST',
            headers: {
                'Authorization': authToken
            },
            contentType: 'application/json',
            // POST 요청
            data: JSON.stringify({
                name: name, // 이름 데이터
                description: description, // 설명 데이터
                columnId: columnId,
                dueDate: selectedDate,
                color: color
                // boardId: 1
            }),
            success: function (card) {
                // 성공적으로 서버에 데이터를 전송한 후 할 일
                alert("저장이 성공적으로 완료되었습니다.");
                console.log(card);
                loadCard(card, columnId);
                closeModal();
                $("#name").val(''); // 이름 입력란 초기화
                $("#description").val(''); // 설명 입력란 초기화

            },
            error: function (error) {
                // 요청 중 에러가 발생했을 때 처리할 내용
                console.error('카드 생성 중 오류가 발생했습니다:', error);
            }
        });
    }

    function deleteCardForm(ele) {
        const authToken = getAuthorizationToken();

        // 클릭된 요소의 부모인 <li> 엘리먼트를 가져옵니다.
        const listItem = $(ele).closest('.dd-item');
        // <li> 엘리먼트의 id 속성 값을 가져옵니다.
        const cardId = listItem.attr('id');
        // {card_id} 부분을 추출합니다.
        const extractedCardId = cardId.split('-')[1];
        // 추출된 card_id를 출력하거나 사용할 수 있습니다.
        console.log(extractedCardId);
        console.log("cardId " + extractedCardId);
        console.log("카드 삭제 confirm")
        // 삭제 YES/NO
        const confirmDelete = confirm("카드를 삭제하시겠습니까?");
        if (confirmDelete) {
            // AJAX 요청을 보냄
            $.ajax({
                url: '/cards/' + extractedCardId,  // 데이터를 보낼 서버의 엔드포인트 URL
                method: 'DELETE',
                headers: {
                    'Authorization': authToken
                },
                contentType: 'application/json',
                success: function (deleteCard) {
                    alert("삭제되었습니다.");

                    // 전체 카드 날리기
                    // column-{columnId} 안에 todo-list ol 태그 안에 있는 애들 지우기
                    const columnId = deleteCard.columnId;
                    const columnToReload = $(`#column-${columnId}`);
                    const cardList = columnToReload.find("#todo-list");
                    cardList.empty();

                    // 다시 전체 불러오기
                    loadCardsByColumnId(columnId, authToken);

                },
                error: function (error) {
                    // 에러 응답에서 메시지를 가져와 출력
                    console.log(error.responseText);
                    alert(error.responseText);
                }
            });
        }
    }


    function loadColumn(column) {
        const columnHtml = columnTemplate
            .replace('{columnId}', column.columnId)
            .replace('{name}', column.title);

        $('#column-new-position').before(columnHtml);
        lastColumnPosition = column.position;

        $(`#column-${column.columnId} #create-card`).click(function () {
            openModal(column.columnId);
        });
    }

    function loadColumns(boardId, authToken) {
        $.ajax({
            url: '/columns/boards/' + boardId,
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success: function (columns) {
                console.log(columns);
                columns.forEach(function (column) {
                    loadColumn(column);
                    loadCardsByColumnId(column.columnId, authToken);
                });
            },
            error: function (error) {
                if (error.status === 404) {
                    // 서버에서 404 응답 코드를 보낸 경우 처리
                    console.log('Object not found');
                    // 여기에서 기존 HTML을 그대로 유지하거나 다른 동작 수행
                } else {
                    console.log('Error:', error);
                }
            }
        });
    }

    function loadCard(card, columnId) {
        // 서버에서 받은 값들로 카드 내 문자열이 있어야 할 곳에 replace
        const newCardHtml = cardTemplate
            .replace("{card_id}", card.id)
            .replace("{card_name}", card.name)
            .replace("{card_description}", card.description.replaceAll("\n", "<br>"))
            .replace("{card_duedate}", card.dueDate);

        // html 요소를 해당 컬럼의 가장 아래에 추가한다.
        $(newCardHtml).appendTo(`#column-${columnId} .todo-list`);
        $(`#card-${card.id} #cardIdValue`).val(card.id);
        // 카드의 색깔 변경
        $(`#card-${card.id} .card-color-bar`).css('background-color', card.color);
        const newCard = $(`#card-${card.id}`);

        // 카드 제목 및 내용 수정 이벤트 리스너 등록
        newCard.find('.title dd-handle').each(function (index, element) {
            addModifyEventListenerToCard(element);
        });
        newCard.find('.card-description').each(function (index, element) {
            addModifyEventListenerToCard(element);
        });
        calculateDDay(card);

    }

    function loadCardsByColumnId(columnId, authToken) {
        $.ajax({
            url: '/cards/columns/' + columnId,
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success: function (cards) {
                cards.forEach((card) => {
                    loadCard(card, columnId);
                });
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }

    function loadCardByCardId(cardId, authToken) {

        return new Promise(function (resolve, reject) {
            $.ajax({
                url: '/cards/' + cardId,
                type: 'GET',
                headers: {
                    'Authorization': authToken
                },
                success: function (card) {
                    resolve(card);
                },
                error: function (error) {
                    reject(error);
                }
            });
        });
    }

    function addColumn(authToken) {

        let title = "새로운 컬럼";
        $.ajax({
            type: "POST",
            url: `/columns`,
            contentType: "application/json",
            data: JSON.stringify({boardId: boardId, title: title}),
            headers: {
                'Authorization': authToken
            }
        })
            .done(function (res, status, xhr) {
                loadColumn(res);
            })
            .fail(function (jqXHR, textStatus) {
                const errorMessage = jqXHR.responseText;
                alert(`${errorMessage}`);
            });
    }

    function enableEditTitle(columnElement) {
        if (!columnElement) return;

        const titleElement = columnElement.querySelector('.kanban__title h2');
        if (!titleElement) return;

        const handleTitleClick = () => {
            const currentTitle = titleElement.textContent;
            const inputElement = document.createElement('input');
            inputElement.value = currentTitle;

            const updateTitle = () => {
                const newTitle = inputElement.value;
                const materialIcon = document.createElement('i');

                // 보드 ID와 컬럼 ID를 추출하는 추가적인 코드
                const boardId = extractBoardId();
                const columnId = extractColumnId(columnElement);

                // 수정된 제목과 현재 제목이 같으면 함수 종료
                if (newTitle === currentTitle) return;

                // 입력된 내용으로 새로운 h2 엘리먼트 생성
                const newH2 = createNewH2Element(newTitle, materialIcon, columnElement);
                if (inputElement.parentElement) {
                    inputElement.replaceWith(newH2);
                }

                // 컬럼 제목 업데이트를 위한 AJAX 호출
                updateColumnTitle(newH2.textContent, columnId, boardId);
            };

            inputElement.addEventListener('keyup', (event) => {
                if (event.key === 'Enter') {
                    updateTitle();
                }
            });

            titleElement.replaceWith(inputElement);
            inputElement.focus();
        };

        titleElement.addEventListener('click', handleTitleClick);
    }

    // 보드 ID 추출 로직
    function extractBoardId() {
        const currentUrl = window.location.href;
        const parts = currentUrl.split('/');
        return parseInt(parts[parts.length - 1], 10);
    }

    // 컬럼 ID 추출 로직
    function extractColumnId(columnElement) {
        const columnIdAttr = columnElement.id;
        const idParts = columnIdAttr.split('-');
        return idParts[idParts.length - 1];
    }

    // 새로운 제목을 갖는 h2 엘리먼트 생성
    function createNewH2Element(newTitle, materialIcon, columnElement) {
        const newH2 = document.createElement('h2');
        newH2.classList.add('custom-font');
        // 스타일 직접 추가
        newH2.style.fontFamily = "'Poppins', sans-serif";
        // 다른 스타일 속성 추가
        newH2.textContent = newTitle;
        newH2.appendChild(materialIcon);
        newH2.onclick = () => enableEditTitle(columnElement);
        return newH2;
    }

    // 컬럼 제목을 업데이트하기 위한 AJAX 호출
    function updateColumnTitle(newTitle, columnId, boardId) {
        const authToken = getAuthorizationToken();
        $.ajax({
            url: `/columns/${columnId}`,
            method: 'PUT',
            headers: {'Authorization': authToken},
            contentType: 'application/json',
            data: JSON.stringify({boardId: boardId, title: newTitle}),
            success: () => alert('수정이 완료되었습니다.'),
            error: (error) => alert('컬럼 수정 중 오류가 발생하였습니다.')
        });
    }

    // 카드 수정 관련 모달
    async function openCardModifyModal(ele) {
        var modal = document.getElementById("modify-card-modal");

        console.log(ele);
        const listItem = $(ele).closest('.dd-item');
        // <li> 엘리먼트의 id 속성 값을 가져옵니다.
        const cardId = listItem.attr('id');
        const extractedCardId = cardId.split('-')[1];

        console.log(extractedCardId);
        var card;
        try {
            card = await loadCardByCardId(extractedCardId, getAuthorizationToken());
            console.log(card);
        } catch (error) {
            console.log("Error : " + error);
        }


        $("#modify-datepicker").datepicker({
            // Datepicker를 모달 창 안에 추가하기 위해 appendTo 사용
            appendTo: modal
        });


        document.getElementById("modify-cardId").value = card.id;
        document.getElementById("modify-name").value = card.name;
        document.getElementById("modify-description").value = card.description;
        $("#modify-colorpicker").spectrum("set", card.color);

        // 저장되어있는 카드의 날짜로 미리 선택
        $("#modify-datepicker").datepicker('setDate', new Date(card.dueDate));

        // console.log(document.getElementById("modify-cardId").value);
        // console.log(document.getElementById("modify-name").value);
        // console.log(document.getElementById("modify-description").value);
        // console.log(document.getElementById("modify-colorpicker").value);

        modal.style.display = "block";
        modal.style.zIndex = 9999;

        //$("#modify-datepicker").datepicker(); // Datepicker 초기화
    }

    function modifyCard() {
        const authToken = getAuthorizationToken();

        // modal창에 숨어있는 columnId값을 가져옴
        const cardId = document.getElementById("modify-cardId").value;

        var name = $("#modify-name").val(); // 이름 입력란의 값을 가져옴
        var description = $("#modify-description").val(); // 설명 입력란의 값을 가져옴
        var selectedDate = $("#modify-datepicker").datepicker("getDate");
        var color = $("#modify-colorpicker").spectrum("get").toHexString();

        $.ajax({
            url: '/cards/' + cardId,
            method: 'PUT',
            headers: {
                'Authorization': authToken
            },
            contentType: 'application/json',

            data: JSON.stringify({
                name: name, // 이름 데이터
                description: description, // 설명 데이터
                dueDate: selectedDate,
                color: color
            }),
            success: function (updateCard) {
                // 성공적으로 서버에 데이터를 전송한 후 할 일
                alert("수정이 성공적으로 완료되었습니다.");
                // 전체 카드 날리기
                // column-{columnId} 안에 todo-list ol 태그 안에 있는 애들 지우기
                const columnId = updateCard.columnId;
                const columnToReload = $(`#column-${columnId}`);
                const cardList = columnToReload.find("#todo-list");
                cardList.empty();

                // 다시 전체 불러오기
                loadCardsByColumnId(columnId, authToken);
                $("#modify-name").val('');
                $("#modify-description").val('');
                $("#modify-datepicker").datepicker();
                $("#modify-colorpicker").spectrum("").toHexString();


            },
            error: function (error) {
                // 요청 중 에러가 발생했을 때 처리할 내용
                console.error('카드 수정 중 오류가 발생했습니다:', error);
            }
        });
        closeCardModifyModal();
    }

    // 모달 닫기 함수
    function closeCardModifyModal() {
        var modal = document.getElementById("modify-card-modal");
        modal.style.display = "none";
    }

    function goToHome() {
        window.location.href = "/";
    }

    function deleteAuthToken() {
        document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

    function Logout() {
        deleteAuthToken();
        window.location.href = "/users/signin";
    }

</script>
<section class="py-5 border-bottom" id="features">
    <div class="wrapper">
        <div class="dd" id="column-list">
            <ol class="addcolumn" id="column-new-position">
                <div class="actions">
                    <button class="addbutt" id="add-column"><i class="material-icons">+</i></button>
                </div>
            </ol>
        </div>
    </div>
</section>

<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form action="/cards" method="POST">
            <li class="dd-item" id="todo-${itemCount}">
                <input id="modalColumnId" name="modalColumnId" type="hidden">
                <div class="input-form-box"><span class="modalfont">제목</span><input class="form-control" id="name"
                                                                                    name="name"
                                                                                    type="text"></div>
                <div class="input-form-box"><span class="modalfont">내용</span><input class="form-control"
                                                                                    id="description"
                                                                                    name="description"
                                                                                    type="text">
                </div>
                <div>
                    <span class="modalfont">색상</span>
                </div>
                <div>
                    <input id="colorpicker" type="text"/>
                </div>
                <div>
                    <span class="modalfont">날짜</span>
                    <div id="datepicker"></div>
                </div>
                <div class="actions">
                    <button class="btn btn-primary btn-xs" onclick="createCardForm()"
                            style="font-family: 'Poppins', sans-serif; width : 100%;"
                            type="button">
                        저장
                    </button>
                </div>
            </li>
        </form>
    </div>
</div>

<!--카드 수정 모달창-->
<div class="modal" id="modify-card-modal">
    <div class="modal-content">
        <span class="close" onclick="closeCardModifyModal()">&times;</span>
        <form action="/cards" method="POST">
            <li class="dd-item">
                <input id="modify-cardId" name="modify-cardId" type="hidden">
                <div class="input-form-box"><span class="modalfont">제목</span><input class="form-control"
                                                                                    id="modify-name"
                                                                                    name="name"
                                                                                    type="text"></div>
                <div class="input-form-box"><span class="modalfont">내용</span><input class="form-control"
                                                                                    id="modify-description"
                                                                                    name="description"
                                                                                    type="text">
                </div>
                <div>
                    <span class="modalfont">색상</span>
                </div>
                <div>
                    <input id="modify-colorpicker" type="text"/>
                </div>
                <div>
                    <span class="modalfont">날짜</span>
                    <div id="modify-datepicker" style="margin: 0 auto;"></div>
                </div>
                <div class="actions">
                    <button class="btn btn-primary btn-xs" onclick="modifyCard()"
                            style="font-family: 'Poppins', sans-serif; width : 100%;"
                            type="button">
                        저장
                    </button>
                </div>
            </li>
        </form>
    </div>
</div>
<!-- Invite Modal -->
<div class="modal" id="inviteModal" style="z-index: 9999;" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">보드 초대하기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="inviteCloseModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="email" class="form-control" id="inviteEmail" name="email">
                            <label for="inviteEmail">Email address</label>
                        </div>
                    </div>
                    <div class="col-md justify-content-center">
                        <div class="form-floating">
                            <button type="button" class="btn btn-secondary" id="sendMail" name="sendMail"onclick="sendMail()">초대 메일 전송</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeInviteBtn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- JS 파일 목록 -->
<script>
    document.getElementById('openInviteBtn').addEventListener('click', inviteModal);
    document.getElementById('closeInviteBtn').addEventListener('click', inviteCloseModal);

    function inviteModal() {
        console.log("invite model 동작")
        document.getElementById('inviteModal').style.display = 'block';
    }

    function inviteCloseModal() {
        console.log("close 동작")
        document.getElementById('inviteModal').style.display = 'none';
    }

    // 모달 외부 클릭 시 닫기
    window.onclick = function(event) {
        if (event.target == document.getElementById('inviteModal')) {
            closeModal();
        }
    }

    function sendMail(){
        var invite_email = $('#inviteEmail').val();
        $.ajax({
            url:"/mail",
            type:"post",
            contentType: "application/json",
            data:JSON.stringify({email: invite_email, url: window.location.href}),
            success: function(data){
                alert("인증번호 발송");
                inviteCloseModal();
                $("#sendMail").attr("value",data);

            },
            error: function(request, status, error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
</script>
<script src="/js/basic.js"></script>
<script src="/js/column.js"></script>
<script src="/js/card.js"></script>

<!--Boot Strap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
