<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link href="https://fonts.gstatic.com" rel="preconnect">

  <link href="/css/style.css" rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
          src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="/js/basic.js"></script>
  <title>칸반보드</title>
</head>
<body>
<div id="boardContent"></div>

<div class="nav">
  <div id="boardList">

  </div>
</div>
<div id="see-area">
  <div id="product-container">

  </div>
</div>

<script>
  function addHTML(boardDto){
    return `<div class = "board-name">{$boardList.name}</div>`
  }

  function showBoard(){
    $.ajax({
      type: 'GET',
      url: `/boards/list`,
      success: function (response) {
        $('#boardList').empty();
        // 4. for 문마다 boardDto를 꺼내서 HTML 만들고 검색결과 목록에 붙이기!
        for (let i = 0; i < response.length; i++) {
          let boardDto = response[i];
          let tempHtml = addHTML(boardDto);
          $('#boardList').append(tempHtml);
        }
      },
      error(error, status, request) {
        logout();
      }
    })
  }
</script>
</body>
</html>



