<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Your HTML Document</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <!-- 외부 스타일 시트를 링크합니다. -->
    <link href="/css/style.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet"/>
</head>
<body>
<div class="mdl-progress mdl-js-progress" id="p1"></div>

<script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function () {
        this.MaterialProgress.setProgress(44);
    });

    function addModifyEventListenerToCard(element) {
        console.log("카드 수정 감지 리스너 추가");
        $(element).on('keydown', function (event) {
            // Enter 키가 눌렸을 때
            if (event.key === 'Enter' && event.ctrlKey) {

                console.log("카드 수정 감지");
                event.preventDefault(); // 기본 동작 방지 (새 줄 입력 방지)

                const card = element.closest('.dd-item');
                updateCard(card);
            }
        });
    }

    function updateCard(card) {
        const authToken = getAuthorizationToken();
        // title dd-handle, card-description, card-duedate
        const cardModifyRequestMap = {};
        card.querySelectorAll('.card-content').forEach(function (contentElement) {
            const key = contentElement.classList.contains('title') ? 'name' :
                contentElement.classList.contains('card-description') ? 'description' :
                    contentElement.classList.contains('card-duedate') ? 'dueDate' :
                        '';
            const value = contentElement.innerHTML.trim();
            cardModifyRequestMap[key] = value;
        });


        const cardId = card.id.split('-')[1];
        //cardModifyRequestMap
        // AJAX 요청을 보냄
        $.ajax({
            url: '/cards/' + cardId, // 데이터를 보낼 서버의 엔드포인트 URL
            method: 'PUT',
            headers: {
                'Authorization': authToken
            },
            contentType: 'application/json',
            // POST 요청
            data: JSON.stringify(cardModifyRequestMap),
            success: function (card) {
            },
            error: function (error) {
                console.error('카드 생성 중 오류가 발생했습니다:', error);
            }
        });
    }


    let lastColumnPosition = 0;
    var colresponsedto = {}

    $(document).ready(function () {
        const authToken = getAuthorizationToken();
        loadColumns(1, authToken);
        $("#delete-button").click(function () {
            addItem();
        });
        $("#add-column").click(function () {
            addColumn(authToken);
        });

        // 정민님 컬럼 카드 불러오기 로직
        // $("body").on("click", "button#test-button", function(){
        //     console.log("add button 동작");
        //     var buttonId = $(this).attr("id");
        //     addItem($(this).closest('ol'));
        // });
        //
        // showColumn();
        // loadAllCard_pjm();
        //
        // $("#test-button").click(function(){
        //     addItem();
        // });

        // 정민님 컬럼 카드 불러오기 로직

    });


    const columnTemplate =
        `
        <ol class="column" id="column-{columnId}">
            <div class="kanban__title">
                <h2 onclick="enableEditTitle(this.closest('.column'))"><i class="material-icons">{name}</i></h2>
            </div>

            <div class="todo-list" id="todo-list">
<!--                카드들이 들어갈곳-->
            </div>

            <div class="actions">
                <button id="create-card" class="addbutt" onclick="openModal(this)">ADD NEW</button>
            </div>
        </ol>
        `


    const cardTemplate =
        `
        <li class="dd-item" id="card-{card_id}" >
            <input type="hidden" id="cardIdValue" name="cardIdValue">
            <span class="close" onclick="deleteCardForm(this)">&times;</span>
            <h3 class="title dd-handle card-content">
                {card_name}
            </h3>
<!--            아래 card-text의 원래 class는 text-->
            <div class="card-description card-content" contenteditable="true">
                {card_description}
            </div>
            <div class="card-duedate card-content" contenteditable="true">
                {card_duedate}
            </div>
        </li>
        `

    // 모달 열기
    function openModal(columnId) {
        var modal = document.getElementById("myModal");
        document.getElementById("modalColumnId").value = columnId;
        console.log(columnId + " id의 컬럼에 카드를 추가하는 modal창 띄움");
        modal.style.display = "block";
        modal.style.zIndex = 9999;
    }

    // 모달 닫기
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    function createCardForm() {
        const authToken = getAuthorizationToken();

        // modal창에 숨어있는 columnId값을 가져옴
        const columnId = document.getElementById("modalColumnId").value;

        var name = $("#name").val(); // 이름 입력란의 값을 가져옴
        var description = $("#description").val(); // 설명 입력란의 값을 가져옴

        // AJAX 요청을 보냄
        $.ajax({
            url: '/cards', // 데이터를 보낼 서버의 엔드포인트 URL
            method: 'POST',
            headers: {
                'Authorization': authToken
            },
            contentType: 'application/json',
            // POST 요청
            data: JSON.stringify({
                name: name, // 이름 데이터
                description: description, // 설명 데이터
                columnId: columnId
                // boardId: 1
            }),
            success: function (card) {
                // 성공적으로 서버에 데이터를 전송한 후 할 일
                alert("저장이 성공적으로 완료되었습니다.");
                loadCard(card, columnId);
                closeModal();
            },
            error: function (error) {
                // 요청 중 에러가 발생했을 때 처리할 내용
                console.error('카드 생성 중 오류가 발생했습니다:', error);
            }
        });
    }

    function deleteCardForm(ele) {
        const authToken = getAuthorizationToken();

        // 클릭된 요소의 부모인 <li> 엘리먼트를 가져옵니다.
        const listItem = $(ele).closest('.dd-item');
        // <li> 엘리먼트의 id 속성 값을 가져옵니다.
        const cardId = listItem.attr('id');
        // {card_id} 부분을 추출합니다.
        const extractedCardId = cardId.split('-')[1];
        // 추출된 card_id를 출력하거나 사용할 수 있습니다.
        console.log(extractedCardId);
        console.log("cardId " + extractedCardId);
        // AJAX 요청을 보냄
        $.ajax({
            url: '/cards/' + extractedCardId,  // 데이터를 보낼 서버의 엔드포인트 URL
            method: 'DELETE',
            headers: {
                'Authorization': authToken
            },
            contentType: 'application/json',
            success: function (deleteCard) {
                alert("삭제되었습니다.");

                // 전체 카드 날리기 \
                // column-{columnId} 안에 todo-list ol 태그 안에 있는 애들 지우기
                const columnId = deleteCard.columnId;
                const columnToReload = $(`#column-${columnId}`);
                const cardList = columnToReload.find("#todo-list");
                cardList.empty();

                // 다시 전체 불러오기
                loadCardsByColumnId(columnId, authToken);

            },
            error: function (error) {
                // 요청 중 에러가 발생했을 때 처리할 내용
                alert("삭제 실패하였습니다.")
            }
        });
    }


    function loadColumn(column) {
        const columnHtml = columnTemplate
            .replace('{columnId}', column.columnId)
            .replace('{name}', column.title);

        $('#column-new-position').before(columnHtml);
        lastColumnPosition = column.position;

        $(`#column-${column.columnId} #create-card`).click(function () {
            openModal(column.columnId);
        });
    }

    function loadColumns(boardId, authToken) {
        $.ajax({
            url: '/columns/boards/' + boardId,
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success: function (columns) {
                console.log(columns);
                columns.forEach(function (column) {
                    loadColumn(column);
                    loadCardsByColumnId(column.columnId, authToken);
                });
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }

    function loadCard(card, columnId) {
        const newCardHtml = cardTemplate
            .replace("{card_id}", card.id)
            .replace("{card_name}", card.name)
            .replace("{card_description}", card.description.replaceAll("\n", "<br>"));
        // .replace("{card_duedate}", card.duedate)

        $(newCardHtml).appendTo(`#column-${columnId} .todo-list`);

        $(`#card-${card.id} #cardIdValue`).val(card.id);

        const newCard = $(`#card-${card.id}`);

        newCard.find('.title dd-handle').each(function (index, element) {
            addModifyEventListenerToCard(element);
        });
        newCard.find('.card-description').each(function (index, element) {
            addModifyEventListenerToCard(element);
        });
    }

    function loadCardsByColumnId(columnId, authToken) {
        $.ajax({
            url: '/cards/columns/' + columnId,
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success: function (cards) {
                cards.forEach((card) => {
                    loadCard(card, columnId);
                });
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }

    function addColumn(authToken) {
        // boardId,
        // title
        let boardId = 1
        console.log("windows.location.href : " + window.location.href);

        let title = "새로운 컬럼";
        $.ajax({
            type: "POST",
            url: `/columns`,
            contentType: "application/json",
            data: JSON.stringify({boardId: boardId, title: title}),
            headers: {
                'Authorization': authToken
            }
        })
            .done(function (res, status, xhr) {
                loadColumn(res);
            })
            .fail(function (jqXHR, textStatus) {
                const errorMessage = jqXHR.responseText;
                alert(`${errorMessage}`);
            });
    }

    function enableEditTitle(columnElement) {
        if (!columnElement) return;

        const titleElement = columnElement.querySelector('.kanban__title h2');
        if (!titleElement) return;

        const handleTitleClick = () => {
            const currentTitle = titleElement.textContent;
            const inputElement = document.createElement('input');
            inputElement.value = currentTitle;

            const updateTitle = () => {
                const newTitle = inputElement.value;
                const materialIcon = document.createElement('i');

                // 보드 ID와 컬럼 ID를 추출하는 추가적인 코드
                const boardId = extractBoardId();
                const columnId = extractColumnId(columnElement);

                // 수정된 제목과 현재 제목이 같으면 함수 종료
                if (newTitle === currentTitle) return;

                // 입력된 내용으로 새로운 h2 엘리먼트 생성
                const newH2 = createNewH2Element(newTitle, materialIcon, columnElement);
                if (inputElement.parentElement) {
                    inputElement.replaceWith(newH2);
                }

                // 컬럼 제목 업데이트를 위한 AJAX 호출
                updateColumnTitle(newH2.textContent, columnId, boardId);
            };

            inputElement.addEventListener('keyup', (event) => {
                if (event.key === 'Enter') {
                    updateTitle();
                }
            });

            titleElement.replaceWith(inputElement);
            inputElement.focus();
        };

        titleElement.addEventListener('click', handleTitleClick);
    }

    // 보드 ID 추출 로직
    function extractBoardId() {
        const currentUrl = window.location.href;
        const parts = currentUrl.split('/');
        return parseInt(parts[parts.length - 1], 10);
    }

    // 컬럼 ID 추출 로직
    function extractColumnId(columnElement) {
        const columnIdAttr = columnElement.id;
        const idParts = columnIdAttr.split('-');
        return idParts[idParts.length - 1];
    }

    // 새로운 제목을 갖는 h2 엘리먼트 생성
    function createNewH2Element(newTitle, materialIcon, columnElement) {
        const newH2 = document.createElement('h2');
        materialIcon.classList.add('material-icons');
        materialIcon.textContent = newTitle;
        newH2.appendChild(materialIcon);
        newH2.onclick = () => enableEditTitle(columnElement);
        return newH2;
    }

    // 컬럼 제목을 업데이트하기 위한 AJAX 호출
    function updateColumnTitle(newTitle, columnId, boardId) {
        const authToken = getAuthorizationToken();
        $.ajax({
            url: `/columns/${columnId}`,
            method: 'PUT',
            headers: {'Authorization': authToken},
            contentType: 'application/json',
            data: JSON.stringify({boardId: boardId, title: newTitle}),
            success: () => console.log("수정이 성공적으로 완료되었습니다."),
            error: (error) => console.error('컬럼 수정 중 오류가 발생했습니다:', error)
        });
    }
</script>

<div class="wrapper">
    <div class="kanban__title">
        <h1><i class="material-icons">check</i> To do list</h1></div>

    <div class="dd" id="column-list">
        <ol class="addcolumn" id="column-new-position">
            <div class="actions">
                <button class="addbutt" id="add-column"><i class="material-icons">+</i></button>
            </div>
        </ol>
    </div>

    <menu class="kanban">
        <button><i class="material-icons">settings</i></button>
        <button><i class="material-icons">chevron_left</i></button>
        <button class="viewkanban"><i class="material-icons ">view_column</i></button>
        <button class="viewlist"><i class="material-icons">view_list</i></button>
        <button><i class="material-icons">playlist_add</i> Add new Column</button>
    </menu>
</div>

<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <form action="/cards" method="POST">
            <li class="dd-item" id="todo-${itemCount}">
                <input id="modalColumnId" name="modalColumnId" type="hidden">
                <div class="input-form-box"><span>제목 </span><input class="form-control" id="name" name="name"
                                                                   type="text"></div>
                <div class="input-form-box"><span>내용 </span><input class="form-control" id="description"
                                                                   name="description"
                                                                   type="text">
                </div>
                <div class="actions">
                    <button class="btn btn-primary btn-xs" onclick="createCardForm()" style="width:100%" type="button">
                        저장
                    </button>
                </div>
            </li>
        </form>
    </div>
</div>
<script src="/js/basic.js"></script>
</body>
</html>
