<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your HTML Document</title>

    <link rel="stylesheet" href="/css/popup.css">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="/js/basic.js"></script>

</head>
<body>
<div id="renderedHtmlContainer"></div>
<script>
    $(document).ready(function () {
        const authToken = getAuthorizationToken();
        console.log(authToken);
        $.ajax({
            url: '/cardPopup',
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success:
                function (response) {
                    $('#renderedHtmlContainer').html(response);
                }
            ,
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('에러 발생:', textStatus, errorThrown);
            }
        })
        ;
    });
</script>

</body>
</html>
