<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <meta charset="UTF-8">
    <title>보드 생성 페이지</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        .color-box {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="login-form">
    <div id="login-title">create Board</div>
    <br>

    <div>
        <div class="login-id-label">보드 이름</div>
        <input class="login-input-box" id="name" name="name" type="text">

        <div class="login-id-label">상세 설명</div>
        <textarea class="login-input-box" id="description" name="description"></textarea>

        <div class="login-id-label">색상</div>
        <input class="login-input-box" id="bgColor" name="bgColor" type="text">

        <button id="login-id-submit" onclick="createBoard()">보드생성하기</button>
        <div style="color: red;" th:if="${not #strings.isEmpty(message)}" th:text="${message}"></div>
    </div>

</div>
</body>
<script>
    const host = 'http://' + window.location.host;

    function getAuthorizationToken() {
        const cookies = document.cookie.split('; ');

        for (const cookie of cookies) {
            const [name, value] = cookie.split('=');

            // 쿠키 이름 앞뒤의 공백 제거
            const cookieName = name.trim();

            if (cookieName === 'Authorization') {
                // 쿠키 값 앞뒤의 공백 제거 후 반환
                return value.trim();
            }
        }

        // 찾지 못한 경우
        return null;
    }

    function createBoard() {
        const authToken = getAuthorizationToken();
        console.log(authToken);
        var name = $('#name').val();
        var description = $('#description').val();
        var bgColor = $('#bgColor').val();

        console.log("description = ", description)
        $.ajax({
            url: '/boards',
            type: 'POST',
            headers: {
                'Authorization': authToken
            },
            data: JSON.stringify({
                name: name,
                description: description,
                bgColor: bgColor
            }),
            contentType: "application/json",
            success:
                function (response) {
                    console.log(response)
                    window.location.href = host + "/"; // 배포과정에서 수정했습니다.
                }
            ,
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('에러 발생:', textStatus, errorThrown);
            }
        });
    }
</script>
</html>