<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.gstatic.com" rel="preconnect">

    <link href="/css/style.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/js/basic.js"></script>
    <title>칸반보드</title>
</head>
<body>

<div class="nav">
    <!-- 버튼을 클릭하면 JavaScript 함수를 호출하여 페이지 이동 -->
    <button onclick="goToBoardPage()">보드 페이지로 이동</button>

    <div class="wrapper" id="boardList">

    </div>
</div>
<div id="see-area">
    <div id="product-container">

    </div>
</div>

<script>
    const host = 'http://' + window.location.host;

    function goToBoardPage() {
        const authToken = getAuthorizationToken();
        console.log(authToken);
        $.ajax({
            url: '/boards',
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success:
                function (response) {
                    $('#boardContent').html(response);
                }
            ,
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('에러 발생:', textStatus, errorThrown);
            }
        })
        ;
    }

    $(document).ready(showBoard())

    var boardDto = {};
    boardDto.name = name;
    function showBoard(){
        const authToken = getAuthorizationToken();
        $.ajax({
            url: "/boards/list",
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            data: boardDto,
            datatype: 'json',
            success: function (data) {
                $('#boardList').empty();
                // 4. for 문마다 boardDto를 꺼내서 HTML 만들고 검색결과 목록에 붙이기!
                for (let i = 0; i < data.length; i++) {
                    let tempHtml = addHTML(data[i])
                    $('#boardList').append(tempHtml);
                }
            },
            error(error, status, request) {
                console.log('Error:', error);
            }
        })
    }
    function addHTML(board){
        return `<button class = "board-name">
            <a href="javascript:void(0);" onclick="boardDetail('${board.boardId}'); return false;">${board.name}</a></button>`
    }

    function boardDetail(boardId){
        const authToken = getAuthorizationToken();
        console.log("[index.html = boardDetail: boardId] = "+ boardId)
        $.ajax({
            url: "columns/boards/"+boardId,
            type: "GET",
            headers: {
                'Authorization': authToken
            },
            success: function(response){
                let url = "boards/"+boardId;
                location.replace(url); //토큰이 안보내짐
            }
        });
    }
</script>
</body>
</html>



