<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.gstatic.com" rel="preconnect">

    <link href="/css/style.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="/js/basic.js"></script>
    <title>칸반보드</title>
</head>
<body>
<div id="boardContent"></div>

<div class="nav">
    <!-- 버튼을 클릭하면 JavaScript 함수를 호출하여 페이지 이동 -->
    <button onclick="goToBoardPage()">보드 페이지로 이동</button>
</div>
<div id="see-area">
    <div id="product-container">

    </div>
</div>

<script>
    const host = 'http://' + window.location.host;

    function getAuthorizationToken() {
        const cookies = document.cookie.split('; ');

        for (const cookie of cookies) {
            const [name, value] = cookie.split('=');

            // 쿠키 이름 앞뒤의 공백 제거
            const cookieName = name.trim();

            if (cookieName === 'Authorization') {
                // 쿠키 값 앞뒤의 공백 제거 후 반환
                return value.trim();
            }
        }

        // 찾지 못한 경우
        return null;
    }

    // 사용 예시

    function goToBoardPage() {
        const authToken = getAuthorizationToken();
        console.log(authToken);
        $.ajax({
            url: '/boards',
            type: 'GET',
            headers: {
                'Authorization': authToken
            },
            success:
                function (response) {
                    $('#boardContent').html(response);

                }
            ,
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('에러 발생:', textStatus, errorThrown);
            }
        })
        ;
    }

</script>
</body>
</html>



