<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <script crossorigin="anonymous"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <title>회원가입 페이지</title>
    <script>
        const host = 'http://' + window.location.host;

        function onclickAdmin() {
            // Get the checkbox
            var checkBox = document.getElementById("admin-check");
            // Get the output text
            var box = document.getElementById("admin-token");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }

        function submitSignupForm() {
            let email = $('#email').val();
            let password = $('#password').val();
            let name = $('#name').val();
            let phoneNumber = $('#phoneNumber').val();
            let address = $('#address').val();
            let adminCheck = $('#adminCheck').prop('checked');
            let adminKey = $('#adminKey').val();

            $.ajax({
                type: 'POST',
                url: '/users/signup',
                contentType: 'application/json',
                data: JSON.stringify({
                    email: email,
                    password: password,
                    name: name,
                    phoneNumber: phoneNumber,
                    address: address,
                    adminCheck: adminCheck,
                    adminKey: adminKey
                }),
                success: function (responseText) {
                    alert(`${responseText}`);
                    window.location.href = host + '/users/signin'
                },
                error: function (jqXHR) {
                    const errorMessage = jqXHR.responseText;
                    alert(`${errorMessage}`);
                    window.location.href = host + '/users/signup'
                }
            });
        }

    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">Sign up Select Shop</div>

    <form action="/users/signup" method="post">
        <div class="login-id-label">이메일</div>
        <input class="login-input-box" id="email" name="email" placeholder="이메일" type="text">
        <div class="login-id-label">비밀번호</div>
        <input class="login-input-box" id="password" name="password" type="password">
        <div class="login-id-label">이름</div>
        <input class="login-input-box" id="name" name="name" placeholder="이름" type="text">
        <div class="login-id-label">전화번호</div>
        <input class="login-input-box" id="phoneNumber" name="phoneNumber" placeholder="전화번호" type="text">
        <div class="login-id-label">주소</div>
        <input class="login-input-box" id="address" name="address" placeholder="주소" type="text">

        <div>
            <input id="adminCheck" name="admin" onclick="onclickAdmin()" style="margin-top: 30px;" type="checkbox">관리자
            <input class="login-input-box" id="adminKey" name="adminKey" placeholder="관리자 암호" style="display:none"
                   type="password">
        </div>
        <button id="login-id-submit" onclick="submitSignupForm()" type="button">회원 가입</button>
    </form>
</div>
</body>
</html>






